<!doctype html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Flask Application</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href=".\index.html">
                <img src="https://i.postimg.cc/nz3DKPLw/face-recognition.png" width="30" height="27"> Face Detection App
            </a>
        </div>
    </nav>
    {% block content %} {% endblock %}
</body>

</html>